### Quick reference

- **Maintained by**: [The AlmaLinux OS Foundation](https://almalinux.org) Cloud Special Interest Group (SIG)
- **Where to file issues**: [GitHub Issues](https://github.com/AlmaLinux/container-images/issues) or [bugs.almalinux.org](https://bugs.almalinux.org)

### Recent tags

${supported_tags}

### Supported architectures

${platforms_list}

### About this image

**[AlmaLinux OS](https://almalinux.org)** is an Open Source and forever-free enterprise Linux distribution, governed and driven by the community, focused on long-term stability and a robust production-grade platform. AlmaLinux OS is binary compatible with RHEL®.

${type_desc}

```bash
docker pull ${dockerhub_namespace}/${version}-${image_type}
```

For more information, please visit the [AlmaLinux container-images repository](https://github.com/AlmaLinux/container-images).

### License

View [license information](https://almalinux.org/p/the-almalinux-os-licensing-policy/) for the software contained in this image.
