Tags: {{ .tags }}
GitFetch: refs/heads/{{ .version_major }}
GitCommit: {{ .commit_hash }}
amd64-Directory: {{ .image_type }}/amd64/
arm64v8-Directory: {{ .image_type }}/arm64/
ppc64le-Directory: {{ .image_type }}/ppc64le/
s390x-Directory: {{ .image_type }}/s390x/
riscv64-Directory: {{ .image_type }}/riscv64/
386-Directory: {{ .image_type }}/386/
Architectures: amd64, arm64v8, ppc64le, s390x, riscv64, 386
